.center {
    border: 3px solid;
    border-color: rgba(35, 36, 39, 0.096);
    border-radius: 10px;
    background-color: rgb(59, 61, 66);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 60vw;
    font-family: 'Inter', sans-serif;
  }
.center h1{
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
}
.center label{
    font-size: 13px;
    color: rgb(194, 194, 194);
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 3%
}
#password{
    width: 94%;
    padding: 7px;
    border-radius:5px;
    background-color: #2b2b2b;
    font-size: 16;
    margin-bottom: 0px;
    color: white;
    
}
#username{
    width: 94%;
    padding: 7px;
    border-radius:5px;
    background-color: #2b2b2b;
    font-size: 16;
    color: white;
}
#signup{
    font-size: 20;
    background-color: rgb(94, 94, 255);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    color: white;
    font-family: 'Inter', sans-serif;
    margin-top: 0px;
    cursor: pointer;
}
html{
    background-color: rgb(53, 54, 58);
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
}
* {
    box-shadow: none;
    outline: none;
    border: 0px;
  }
  a {
    text-decoration: none;
    font-size: 13px;
    color: rgb(65, 125, 255);
    font-weight: bold;
    margin-bottom: 10px;
  }